<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lista de tareas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main>
    <div class="container">
      <h1 class="page-title">Tareas</h1>
      <div class="row mb-4">
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Filtrar</span>
            </div>
            <input type="text" class="form-control" placeholder="Texto de la tarea" v-model="textoFiltro">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Tabla de tareas -->
          <div class="table-responsive" v-if="tareasFiltradas.length > 0">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="ordenable w-10" title="Ordenar" @click="ordenarPor('num')">
                      # 
                      <img src="open-iconic/svg/caret-bottom.svg" alt="" v-if="orden.propiedad === 'num' && orden.sentido === 'asc'">
                      <img src="open-iconic/svg/caret-top.svg" alt="" v-if="orden.propiedad === 'num' && orden.sentido === 'desc'">
                    </th>
                    <th class="ordenable" title="Ordenar" @click="ordenarPor('texto')">
                      Tarea
                      <img src="open-iconic/svg/caret-bottom.svg" alt="" v-if="orden.propiedad === 'texto' && orden.sentido === 'asc'">
                      <img src="open-iconic/svg/caret-top.svg" alt="" v-if="orden.propiedad === 'texto' && orden.sentido === 'desc'">
                    </th>  
                    <th class="w-30">Opciones</th>                      
                  </tr>
                </thead>
                <tr v-for="(tarea, index) in tareasOrdenadas">
                  <td :class="{terminada: tarea.terminada}">{{tarea.num}}</td>
                  <td :class="{editandocelda: tarea.editando}">
                    <div v-if="!tarea.editando" :class="{terminada: tarea.terminada}" @click="editarTarea(tarea)">{{tarea.texto}}</div>
                    <input class="editando--input" :id="'tarea'+tarea.num" v-else v-model="textoTareaEditada" @keyup.enter="guardarTarea(tarea)">
                  </td>
                  <td>
                    <template v-if="!tarea.terminada">
                      <template v-if="!tarea.editando">
                        <!-- Editar -->
                        <img class="tarea--icono" src="open-iconic/svg/pencil.svg" title="Editar" @click="editarTarea(tarea)">   
                        <!-- Terminar -->
                        <img class="tarea--icono" src="open-iconic/svg/check.svg" title="Completada" @click="toggleTareaTerminada(tarea)">
                      </template>
                      <template v-else>
                        <!-- Guardar -->
                        <img class="tarea--icono" src="open-iconic/svg/circle-check.svg" title="Guardar" @click="guardarTarea(tarea)">
                        <!-- Cancelar -->
                        <img class="tarea--icono" src="open-iconic/svg/circle-x.svg" title="Cancelar" @click="cancelarTarea(tarea)">
                      </template>
                    </template>
                    <template v-else>
                      <!-- Undo -->
                      <img class="tarea--icono" src="open-iconic/svg/action-undo.svg" v-if="!tarea.editando" title="No completada" @click="toggleTareaTerminada(tarea)">
                    </template>
                    <!-- Eliminar -->
                    <img class="tarea--icono" src="open-iconic/svg/trash.svg" title="Eliminar" v-if="!tarea.editando" @click="eliminarTarea(tarea)">
                  </td>
                </tr>
            </table>
          </div>
          <p v-else>No hay tareas</p>
          <!-- Formulario -->
          <form @submit.prevent="agregarTarea">
            <div class="form-group">
              <label for="txtTextoTarea">Tarea</label>
              <input type="text" class="form-control" id="txtTextoTarea" placeholder="Texto de la tarea" v-model="nuevaTarea.texto">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" :disabled="nuevaTarea.texto === ''">Agregar</button>
              <a href="#" v-if="numTareasTerminadas > 0" @click="eliminarTareasTerminadas">Eliminar completadas</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <!-- Vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
  <!-- Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script> 
  <!-- Main.js -->
  <script src="js/main.js"></script> 
</body>
</html>