<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Vue - PR01</title>
</head>
<body>
  <main>
    <h1 v-text="titulo"></h1>
    <label for="txtMensaje">Mensaje</label>
    <input id="txtMensaje" type="text" placeholder="(mensaje)" v-model.trim="mensaje">
    <p>
      {{mensaje}}
      <img v-bind:src="urlFoto" :alt="mensaje">
    </p>
    <label for="chkSaludo">Mostrar saludo</label>
    <input type="checkbox" id="chkInsult" v-model="isSaludoChecked">
    <h2 v-show="isSaludoChecked">Aquí viene el saludo</h2>
    <p v-if="isSaludoChecked">Quillo que</p>
    <p v-else>No te saludo porque no quiero</p>
    <template v-if="isSaludoChecked">
      <p>Maneras de saludar:</p>
      <ul>
        <li>Buenos días tenga usted</li>
        <li>Hola, ¿cómo está usted?</li>
        <li>Quillo que</li>
      </ul>
    </template>
    <table>
      <caption>Alumnado</caption>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tr v-for="(alumno, index) in alumnos" v-bind:class="{ suspenso: !alumno.aprobado }">
        <td v-text="alumno.nombre"></td>
        <td v-text="alumno.edad"></td>
        <td><a href="#" v-on:click="eliminarAlumno(index)">Borrar</a><a href="#" v-on:click="toggleAprobado(alumno)" v-text="alumno.aprobado ? 'Suspender' : 'Aprobar'"></a></td>
      </tr>
    </table>
    <label for="txtNombre">Nombre</label>
    <input type="text" id="txtNombre" v-model.trim="nuevoAlumno.nombre">
    <label for="txtEdad">Edad</label>
    <input type="number" id="txtEdad" min="1" max="130" v-model.number="nuevoAlumno.edad">
    <button @click="agregarAlumno">Agregar alumno</button>
    <table>
        <caption>Alumnado mayor de edad</caption>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Aprobado</th>
          </tr>
        </thead>
        <tr v-for="(alumno, index) in alumnosMayores">
          <td v-for="(value, key) in alumno">{{key}}: {{value}}</td>
        </tr>
      </table>
      <form v-on:submit.prevent="agregarAlumno">
        <label for="txtNombre2">Nombre</label>
        <input type="text" id="txtNombre2" v-model="nuevoAlumno.nombre">
        <label for="txtEdad2">Edad</label>
        <input type="number" id="txtEdad2" min="1" max="130" v-model="nuevoAlumno.edad">
        <input type="submit" value="Agregar alumno">
        Años hasta jubilación: <span v-text="jubilacion"></span>
      </form>
      <p>Alumnos aprobados: {{alumnosAprobados.length}}</p>
      <hr>
    <pre>{{$data}}</pre>
  </main>

  <!-- scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
  <script src="js/main.js"></script>  
</body>
</html>